<p class="title">Edit folder: <%= @folder.name %></p>

<% form_tag :action => 'update', :id => @folder do %>
    <%= render :partial =>  'form' %>
    <%= submit_tag 'Rename' %>
<% end %>

<%= link_to 'Back', :action => 'list', :id => controller.folder_id %>
